trabajo_cliente/src/main/app/trabajo_cliente.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:pop3="http://www.mulesoft.org/schema/mule/pop3" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:ws="http://www.mulesoft.org/schema/mule/ws" xmlns:smtp="http://www.mulesoft.org/schema/mule/smtp" xmlns:pop3s="http://www.mulesoft.org/schema/mule/pop3s" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ws http://www.mulesoft.org/schema/mule/ws/current/mule-ws.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/pop3s http://www.mulesoft.org/schema/mule/pop3s/current/mule-pop3s.xsd
http://www.mulesoft.org/schema/mule/smtp http://www.mulesoft.org/schema/mule/smtp/current/mule-smtp.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
    <ws:consumer-config name="Web_Service_Consumer" service="ListasWSService" port="ListasWSPort" serviceAddress="http://localhost:8081/listas" wsdlLocation="http://localhost:8081/listas?wsdl" doc:name="Web Service Consumer"/>
    <pop3s:connector name="POP3" validateConnections="true" doc:name="POP3" checkFrequency="2000">
    </pop3s:connector>
    <flow name="trabajo_cliente">
        <pop3s:inbound-endpoint host="pop.gmail.com" responseTimeout="10000" doc:name="POP3" connector-ref="POP3" password="iap_pass" port="995" user="iapetsinf"/>
        <set-variable variableName="remitente" value="#[message.inboundProperties.from]" doc:name="Variable"/>
        <choice doc:name="Choice">
            <when expression="message.inboundProperties.subject=='ver listas'">
                <ws:consumer config-ref="Web_Service_Consumer" operation="getListasSubidas" doc:name="Web Service Consumer"/>
                <dw:transform-message doc:name="Transform Message">
                    <dw:set-payload><![CDATA[%dw 1.0
%output application/json
%namespace ns0 http://webservice.mule.iap.etsinf.upv.es/
---
{
	listas: payload.ns0#getListasSubidasResponse.*return map ((return , indexOfReturn) -> {
		grupo: return.grupo,
		lista: return.lista
	})
}]]></dw:set-payload>
                </dw:transform-message>
                <smtp:outbound-endpoint host="smtp.upv.es" to="#[flowVars.remitente]" from="iapetsinf@gmail.com" subject="Listas Creadas" responseTimeout="10000" doc:name="SMTP"/>
            </when>
            <otherwise>
                <logger message="Asunto no v&#225;lido" level="INFO" doc:name="Logger"/>
            </otherwise>
        </choice>
    </flow>
</mule>
